@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wght@100..700&display=swap');

:root {
    --fonte-titulo: "Kode Mono", monospace;
    --fonte-padrao: "M PLUS Code Latin", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background: linear-gradient(to top, black, #e0e0e0);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 3%;
    padding: 15px;
    position: relative;
}

.commlink {
    width: 100%;
    max-width: 410px;
}

.commlink__titulo {
    position: absolute;
    font-family: var(--fonte-titulo);
    font-size: 1rem;
    color: cyan;
    bottom: 87%;
    left: 28%;
}

.commlink__subtitulo {
    position: absolute;
    font-family: var(--fonte-padrao);
    font-size: 0.9rem;
    font-weight: bold;
    color: cyan;
    bottom: 81%;
    left: 20%;
}

.commlink__texto {
    position: absolute;
    font-family: var(--fonte-padrao);
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: cyan;
    bottom: 55%;
    left: 20%;
    padding-right: 15%;
}

.botao {
    position: absolute;
    bottom: 6%;
    left: 36%;
    display: flex;
    gap: 53px;
}

.botao__ante,
.botao__post {
    font-family: var(--fonte-titulo);
    color: cyan;
    font-size: 3rem;
    background: none;
    border: none;
}

.botao__ante:hover,
.botao__post:hover {
    text-shadow: 0px 0px 10px cyan;
}

.botao__ante:active,
.botao__post:active {
    font-weight: bolder;
    text-shadow: 0px 0px 10px cyan;
}

footer {
    font-family: var(--fonte-titulo);
    font-size: 0.8rem;
    color: cyan;
}